/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Helvetica, sans-serif;
    background: linear-gradient(135deg, #4D69FE, #8EC5FC);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

h1 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 16px;
    color: #4D69FE;

}

/* Main Card */
.container {
    margin: 60px 0px;
    width: 650px;
    background: #ffffff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

/* Input Section */
.input-container {
    display: flex;
    gap: 12px;

}

.input-field {
    flex: 1;
    padding: 14px 18px;
    border-radius: 12px;
    border: 1px solid #e0e0e0;
    font-size: 15px;
    outline: none;
    transition: 0.3s ease;
}

.input-field:focus {
    border-color: #4D69FE;
    box-shadow: 0 0 0 3px rgba(77, 105, 254, 0.15);
}

.emptyInputError {
    color: #e53935;
    visibility: hidden;
}

.add-button {
    padding: 14px 20px;
    border-radius: 12px;
    border: none;
    background: linear-gradient(135deg, #4D69FE, #6C8CFF);
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.add-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 18px rgba(77, 105, 254, 0.3);
}

/* Stats */
.stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: 500;
    color: #555;
    margin-top: 30px;
}

.completed-stats {
    color: #00a86b;
}

.progress-stats {
    color: #ff9800;
}

/* Task List */
.Task-List {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Task Card */
.task-conatiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 18px;
    background: #f9faff;
    border-radius: 14px;
    border: 1px solid #eef0ff;
    transition: 0.3s ease;

}

.task-conatiner:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}

.task-name {
    font-size: 15px;
    font-weight: 500;
    color: #333;
}

/* Buttons */
.cta-container {
    display: flex;
    gap: 10px;
}

.delete-button,
.complete-button {
    padding: 6px 12px;
    border-radius: 8px;
    border: none;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s ease;
}

.delete-button {
    background-color: #ffe5e5;
    color: #e53935;
}

.delete-button:hover {
    background-color: #ffcaca;
}

.complete-button {
    background-color: #e6f9ed;
    color: #00a86b;
}

.complete-button:hover {
    background-color: #c9f2d8;
}